@import "default.css";

/* features for history and thread files */

	/* timeline */
.tlhead {									/* large "<--"	*/
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 600px;
	font: bold italic 12px 'Lucida Grande', geneva, helvetica, arial, sans-serif;
	color: #000;
	text-align: center;
	border-top: 1px solid #9999ff;
	border-bottom: 1px solid #9999ff;
	background-color: #f5f5ff;	
}

.tlmark {									/* small "<--"	*/
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 700px;
	font: italic 8px 'Lucida Grande', geneva, helvetica, arial, sans-serif;
	color: #000;
	text-align: center;
	border-top: 1px solid #9999ff;
	border-bottom: 1px solid #9999ff;
	background-color: #f5f5ff;	
}

.tlversion {								/* right-aligned version marker	*/
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 700px;
	font: italic 10px 'Lucida Grande', geneva, helvetica, arial, sans-serif;
	color: #000;
	text-align: center;
	border-top: 1px solid #9999ff;
	border-bottom: 1px solid #9999ff;
	background-color: #f5f5ff;	
}

.tltarget {
	font-size: 12px;
	font-style: italic;
	margin-left: .3in;
	color: #9999ff;

}

.tldate {text-align: right}					/* date marker	*/

	/* thread	*/
.ttag {										/* thread tag	*/
	color: #ff66cc;
}