<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Cdoc_install</string>
	<key>Description</key>
	<string>A Cdoc target installation script for use with function ccInstall.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.ksh</string>
	<key>Summary</key>
	<string>A Cdoc target installation script for use with function ccInstall</string>
</dict>
</plist>
